/* PROJECT VARIABLES */
:root {
  --green: #9ebc8a;
  --blue: #0a66c2;
}

@font-face {
  font-family: "Quicksand";
  src:
    url("../assets/fonts/Quicksand-Regular.woff2") format("woff2"),
    url("../assets/fonts/Quicksand-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Quicksand";
  src:
    url("../assets/fonts/Quicksand-Bold.woff2") format("woff2"),
    url("../assets/fonts/Quicksand-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* CSS RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
#root,
#__next {
  isolation: isolate;
}

/* CUSTOM CSS */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

h1 {
  font-size: clamp(3rem, 3vw, 6rem);
  font-weight: bold;
}

svg {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

svg:hover {
  transform: scale(1.1);
}

/* ABOUT ME SECTION  */
.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-img {
  padding: 40px 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(145deg, var(--green) 55%, white 57%);
}

.profile-img img {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

.img-inner {
  position: relative;
}

.name {
  position: absolute;
  bottom: 0;
  left: 24px;
  color: white;
  font-size: 4rem;
  font-weight: bold;
  line-height: 1;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}

.about-me p {
  padding: 0 24px;
}

.icons {
  display: flex;
  gap: 40px;
  padding: 10px;
}

.icons svg {
  width: 48px;
  fill: var(--green);
}

.icons svg:nth-child(1):hover {
  fill: black;
}

.icons svg:nth-child(2):hover {
  fill: var(--blue);
}

/* PROJECTS SECTION  */
.my-work {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
}

.projects-container {
  display: grid;
  width: 100%;
  gap: 80px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

/* INDIVIDUAL PROJECT  */
.project-item {
  display: flex;
  gap: 12px;
  flex-direction: column;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

.project-name-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.project-name-links h3 {
  padding-left: 40px;
}

.project-name-links svg {
  width: 36px;
}

.project-name-links svg:hover {
  fill: var(--green);
}

.links {
  display: flex;
  gap: 12px;
  padding-right: 20px;
}

.project-item p {
  padding: 0 20px 40px;
}

/* CONTACT SECTION  */
.info-section {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 40px 20px 80px;
  color: white;
}

.info-section > p:first-of-type {
  font-weight: bold;
  font-size: clamp(1.3rem, 2vw, 2rem);
}

.contact {
  background: linear-gradient(var(--green) 30%, white);
}

.contact h1 {
  align-self: center;
}

.contact-method {
  display: flex;
  gap: 20px;
}

.contact-info svg {
  width: 32px;
  cursor: default;
}

.contact-info svg:hover {
  transform: scale(1);
}

.contact p {
  font-size: clamp(1.2rem, 2vw, 2rem);
}

.contact .icons {
  align-self: center;
}

.contact img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.75);
}

/* TABLET VIEW  */
@media (min-width: 640px) {
  /* ABOUT ME SECTION */
  .about-me {
    position: relative;
    display: flex;
    padding: 80px;
    flex-direction: row;
    justify-content: center;
    background: linear-gradient(170deg, var(--green) 58%, white 58%);
  }

  .about-me-desc {
    position: relative;
    flex: 0 1 400px;
    background-color: white;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  }

  .about-me-desc h1 {
    font-size: clamp(2rem, 3.5vw, 5rem);
    padding-left: 160px;
  }

  .about-me .profile-img {
    position: absolute;
    z-index: 1;
    flex: 0 1 300px;
    background: none;
    right: 25%;
    top: -3%;
  }

  .about-me .profile-img .img-inner {
    position: static;
  }

  .about-me .profile-img img {
    height: 300px;
    aspect-ratio: 1/1;
    object-fit: cover;
  }

  .name {
    font-size: 2.5rem;
    bottom: 75%;
    left: 60%;
  }

  .indented {
    display: block;
    padding-left: calc(340px - 25vw);
  }

  /* PROJECTS SECTION  */
  .projects-container {
    gap: 30px;
  }

  /* CONTACT SECTION  */
  .contact {
    display: flex;
    padding: 100px 60px 200px;
    gap: 40px;
    justify-content: center;
    align-items: flex-start;
    background: linear-gradient(var(--green) 70%, rgb(227, 255, 204));
  }

  .contact .info-section {
    padding: 0;
  }

  .contact h1 {
    align-self: flex-start;
    line-height: 1;
  }

  .contact .icons {
    align-self: flex-start;
  }

  .contact img {
    width: clamp(200px, 40vw, 400px);
    aspect-ratio: 1/1.5;
  }
}

/* DESKTOP  */
@media (min-width: 1024px) {
  /* ABOUT ME SECTION  */
  .about-me {
    align-items: center;
    padding: 80px;
  }

  .about-me-desc {
    padding: 40px 40px 0;
    flex: 0 1 700px;
    height: auto;
  }

  .about-me-desc h1 {
    align-self: flex-start;
    padding-left: 0;
  }

  .about-me p {
    padding: 20px 0 30px;
  }

  .indented {
    display: inline;
    padding-left: 0;
  }

  .about-me .icons {
    padding: 0 0 20px;
  }

  .about-me-desc .icons {
    align-self: flex-end;
  }

  .about-me .profile-img {
    z-index: 1;
    position: static;
    flex: 0 1 450px;
    background: none;
    padding: 0;
  }

  .about-me .profile-img .img-inner {
    position: relative;
  }

  .about-me .profile-img img {
    width: 450px;
    height: 450px;
  }

  .name {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    font-size: 5rem;
    font-weight: bold;
    line-height: 1;
  }

  /* PROJECTS SECTION  */
  .my-work {
    padding: 80px;
  }

  .my-work h1 {
    align-self: flex-start;
  }

  .project-item p {
    padding: 0 40px 40px;
  }

  /* CONTACT SECTION  */
  .contact img {
    aspect-ratio: 1/1;
  }
}

/* ANIMATION  */
.about-me,
.about-me-desc,
.profile-img,
.profile-img img {
  transition: all 0.3s ease-in-out;
}
